<div class="team">
  <h1 class="title">skład</h1>
  <div class="member-container">
    <div class="member">
      <img
        class="member__img member__img--left"
        src="http://lorempixel.com/200/200"
        alt="member image"
      />
      <span class="member__text-container">
        <p class="member__name">Marcin Cenkier</p>
        <p class="member__tool">wokal, harmonijka</p>
        <p class="member__description">
          Wokalista, który zdobywał doświadczenie w wielu poznańskich zespołach
          blues-rockowych. Sporą część życia spędził na Śląsku gdzie uczył się
          bluesowego rzemiosła od mistrzów gatunku. W Blues Drawers gra od 2014
          roku.
        </p>
      </span>
    </div>
    <div class="member">
      <img
        class="member__img member__img--left"
        src="http://lorempixel.com/200/200"
        alt="member image"
      />
      <span class="member__text-container">
        <p class="member__name">Piotr Kühn</p>
        <p class="member__tool">gitara, wokal</p>
        <p class="member__description">
          Gitarzysta i wokalista, udzielający się od wielu lat w różnorodnych
          składach poznańskiej sceny muzycznej. Doświadczenie zdobyte podczas
          wykonywania zróżnicowanej stylistycznie muzyki pozwala na komponowanie
          niesztampowych utworów. Założyciel zespołu w roku 2004.
        </p>
      </span>
    </div>
    <div class="member member--right">
      <span class="member__text-container">
        <p class="member__name">Tomasz Jusik</p>
        <p class="member__tool">bas, wokal</p>
        <p class="member__description">
          Człowiek mający największe doświadczenie w dziedzinie muzyki,
          elektroniki i fizyki. Po wielu latach aktywności muzycznej zawiesił
          swoją działalność na dłuższy czas aby w 2014 ponownie pojawić się na
          scenie z zespołem Blues Drawers.
        </p>
      </span>
      <img
        class="member__img member__img--right"
        src="http://lorempixel.com/200/200"
        alt="member image"
      />
    </div>
    <div class="member  member--right">
      <span class="member__text-container">
        <p class="member__name">Krzysztof Rabiczko</p>
        <p class="member__tool">perkusja</p>
        <p class="member__description">
          Doświadczenie zdobyte w legendarnym iławskim zespole Sesja pozwoliło
          nawiązać stałą współpracę z Blues Drawers od roku 2006. Perkusista
          udzielający się w wielu poznańskich oraz zamiejscowych projektach
          muzycznych o szerokiej stylistyce.
        </p>
      </span>
      <img
        class="member__img member__img--right"
        src="http://lorempixel.com/200/200"
        alt="member image"
      />
    </div>
  </div>
</div>
