.concert-container {
  overflow: scroll;
  height: calc(100vh - 170px);

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.concert {
  position: relative;
  width: 1340px;
  background-color: #d7d7d7cc;
  padding: 18px;
  opacity: 0.9;
  margin-bottom: 12px;
  border-radius: 4px;
  margin: 18px auto;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.75);
  max-height: 156px;
  overflow: hidden;
  transition: max-height 0.5s;
  cursor: pointer;

  &--opened {
    height: auto;
    max-height: 1000px;

    .concert__header {
      margin-bottom: 22px;
      margin-top: 20px;
      text-align: center;
    }

    .concert__image {
      object-fit: contain;
      object-position: 0 0;
      width: 50%;
      max-height: 1250px;
    }

    .concert__data {
      display: block;
      height: auto;
      width: 50%;
    }

    .concert__info {
      height: auto;
      margin-top: 42px;
      border: 1px solid black;
      text-align: left;
    }
  }

  &__header {
    font-weight: bold;
    font-size: 38px;
    line-height: 100%;
    margin: auto 0;
  }

  &__data-container {
    display: flex;
    justify-content: flex-start;
  }

  &__data {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 80%;
  }

  &__image {
    object-fit: contain;
    object-position: center 0;
    width: 20%;
    max-height: 120px;
    transition: 0.5s;
  }

  &__description {
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
  }

  &__info {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 20px;
    text-align: right;
  }

  &__info-value {
    font-weight: bold;
  }
}
