<div class="concert-container">
  <div
    *ngFor="let concert of concerts$ | async, let i = index"
    [ngClass]="{'concert--opened': isCardOpened(i)}"
    (click)="toggleCard(i)"
    class="concert"
  >
    <div class="concert__data-container">
      <img
        class="concert__image"
        [src]="concert.image"
      >
      <div class="concert__data">
        <h1 class="concert__header">{{concert.name}}</h1>
        <p
          *ngIf="isCardOpened(i)"
          class="concert__description"
        >{{concert.description}}
        </p>

        <span class="concert__info">
          <p>miejsce: <span class="concert__info-value">{{concert.address}}</span> </p>
          <p>data: <span class="concert__info-value">{{concert.date}}</span> </p>
          <p *ngIf="isCardOpened(i)">wejście: <span class="concert__info-value">{{concert.fee}}</span> </p>
        </span>

      </div>
    </div>
  </div>
</div>
