<nav class="navbar">
  <a routerLink="/">
    <img
      src="/assets/images/logo.png"
      alt="Blues Drawers"
      class="navbar__logo"
    >
  </a>

  <ul class="navbar-list">
    <li class=" navbar-list__item">
      <a
        routerLink="/"
        routerLinkActive="navbar-list__item--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >koncerty
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        routerLink="/team"
        routerLinkActive="navbar-list__item--active"
      >zespół</a>
    </li>
    <li class="navbar-list__item">
      <a
        routerLink="/rider"
        routerLinkActive="navbar-list__item--active"
      >rider</a>
    </li>
  </ul>
</nav>
