.navbar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  height: 100%;
  display: flex;
  position: relative;

  &__logo {
    top: 30px;
    left: 30px;
    position: relative;
    width: 300px;
  }

  .navbar-list {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    height: 40%;
    align-items: center;
    margin-right: 100px;

    &__item {
      text-transform: uppercase;
      color: grey;
      font-weight: bold;
      text-align: center;
      padding: 0 40px;

      & :hover,
      &--active {
        color: white;
      }
    }
  }
}
