.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 0 100px;

  .navbar-list {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    color: white;

    &__item {
      text-transform: uppercase;

      & :hover,
      &--active {
        font-weight: bold;
      }

      &--active {
        font-weight: bold;
      }
    }
  }
}
