$header-height: 170px;

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  height: $header-height;
  display: block;
}

.content {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  height: calc(100vh - #{$header_height});
}
